/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env*
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
laravel-echo-server.lock
.vscode
.editorconfig
tests/Feature/ExampleTest.php
storage/api-docs/*